@import "./option-panel/option-panel";
@import "./preview-panel/preview-panel";

* {
	font-family: "Roboto Mono", monospace;
}

.App {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	font-family: "Roboto Mono", monospace;

	h1 {
		font-size: 25px;
		padding: 18px 0 0 29px;
		font-weight: 500;
	}

	input[type="text"],
	input[type="file"] {
		height: 25px;
		padding: 4px 6px;
		margin-bottom: 20px;
		border: 1.5px solid black;
		border-radius: 4px;
		text-align: right;
	}

	input[type="text"]:hover {
		border: 1.5px solid #575757;
		background: #fcfcfc;
		cursor: pointer;
	}

	input[type="text"]:focus {
		background: #fcfcfc;
		outline: none;
	}

	.two-inputs {
		padding: 0 30px;
		display: grid;
		grid-template-columns: 1fr 0.1fr 1fr;
		margin-bottom: 30px;

		.input {
			width: 100%;
			height: 30px;
			display: grid;
			box-sizing: border-box;
			grid-template-columns: 0.2fr 1fr 0.1fr;

			.label {
				width: 60px;
				height: 35px;
				color: white;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				text-align: center;
				box-sizing: border-box;
			}

			input {
				height: 35px;
				width: 100%;
				box-sizing: border-box;
				border-radius: 0px;
			}

			.units {
				height: 35px;
				border-bottom: 1.5px solid black;
				border-top: 1.5px solid black;
				border-right: 1.5px solid black;
				border-left: none;
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
				background: white;
				cursor: pointer;
			}
		}

		.double {
			width: 100%;
			height: 30px;
			display: grid;
			box-sizing: border-box;
			grid-template-columns: 0.2fr 1fr;

			label {
				width: 60px;
				height: 35px;
				color: white;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				text-align: center;
				box-sizing: border-box;
			}

			input {
				height: 35px;
				width: 100%;
				box-sizing: border-box;
				border-radius: 0px;
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
			}
		}
	}
}
