.PreviewPanel {
	background: #e7e7e7;
	overflow: hidden;
	box-sizing: content-box;
	flex-grow: 1;

	.paper {
		background: white;
	}

	.zoom-tools {
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    button {
	    	background: black;
	    	border: none;
	    	color: white;
	    }
	    .in {
	    	font-size: 25px;
		    width: 50px;
		    border-bottom-right-radius: 5px;
		    border-top-right-radius: 5px;
	    }
	    .out {
	    	font-size: 25px;
		    width: 50px;
		    border-bottom-left-radius: 5px;
		    border-top-left-radius: 5px;
	    }
	}
}