details.UnitsButton {
  display: inline-block;
  width: 33px;
  position: relative;
  color: #454545;
  height: 30px; }

details.UnitsButton[open] {
  border-radius: 3px 3px 0 0; }

details.UnitsButton summary {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  box-sizing: border-box;
  height: 35px;
  font-size: 14px;
  background: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  list-style: none;
  border: 2px solid black;
  border-left: none;
  user-select: none; }

details.UnitsButton summary::-webkit-details-marker {
  display: none; }

details.UnitsButton summary:hover {
  background: #ededed; }

details.UnitsButton .select {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #c5c5c5;
  width: 36px;
  left: -4px;
  border-radius: 0 0 3px 3px;
  background: #fff;
  z-index: 100; }

details.UnitsButton .select__option {
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
  border: 1px solid black;
  box-sizing: border-box;
  user-select: none; }

details.UnitsButton .select:hover .select__option.active {
  background: #fff;
  color: #454545; }

details.UnitsButton .select__option.active,
details.UnitsButton .select:hover .select__option.active:hover,
details.UnitsButton .select__option:hover {
  background: black;
  color: #fff; }

details.UnitsButton .select__option input {
  display: none; }

.OptionPanel {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1.5px solid black;
  min-width: 350px;
  max-width: 390px; }
  .OptionPanel .generate-field {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .OptionPanel .generate-field .filename {
      width: 70%;
      text-align: center; }
    .OptionPanel .generate-field .loading {
      background-position: left bottom; }
    .OptionPanel .generate-field button {
      width: 75%;
      height: 48px;
      border: 1.5px solid;
      border-radius: 4px;
      background: #fcff66;
      font-size: 20px;
      letter-spacing: 3px;
      transition: all 2s ease;
      background: -webkit-linear-gradient(right, #fcff66 50%, #47ff80 50%);
      background: -o-linear-gradient(right, #fcff66 50%, #47ff80 50%);
      background: linear-gradient(to left, #fcff66 50%, #47ff80 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      font-weight: 500; }
  .OptionPanel .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 15px; }
    .OptionPanel .footer .copyright {
      font-size: 12px; }
  .OptionPanel .SizesField {
    display: flex;
    flex-direction: column; }
    .OptionPanel .SizesField .check-field {
      padding: 0 30px;
      display: grid;
      grid-template-columns: 1fr 0.1fr 1fr; }
      .OptionPanel .SizesField .check-field label {
        display: block;
        position: relative;
        padding-left: 28px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .OptionPanel .SizesField .check-field label span {
          position: absolute;
          top: 1px;
          left: 0;
          height: 11px;
          width: 11px;
          border: 1.5px solid black;
          border-radius: 4px;
          margin-left: 5px; }
        .OptionPanel .SizesField .check-field label span:after {
          content: "";
          position: absolute;
          display: none; }
        .OptionPanel .SizesField .check-field label input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0; }
      .OptionPanel .SizesField .check-field label:hover input ~ span {
        background: #f9f9f9; }
      .OptionPanel .SizesField .check-field label input:checked ~ span {
        background: black; }
      .OptionPanel .SizesField .check-field label input:checked ~ span:after {
        display: block; }
      .OptionPanel .SizesField .check-field label span:after {
        left: 2px;
        top: -1px;
        width: 3px;
        height: 7px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .OptionPanel .SizesField .separator {
      width: 100%;
      height: 8px;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      .OptionPanel .SizesField .separator div {
        width: 93%;
        height: 1px;
        background: black; }
  .OptionPanel .FilesField .format {
    width: 100%;
    height: 30px;
    display: grid;
    box-sizing: border-box;
    padding: 0 30px;
    grid-template-columns: 0.2fr 1fr;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    margin-bottom: 30px; }
    .OptionPanel .FilesField .format label {
      width: 100px;
      height: 35px;
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;
      box-sizing: border-box; }
    .OptionPanel .FilesField .format input {
      height: 35px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
  .OptionPanel .FilesField .files {
    width: 100%;
    height: 30px;
    display: grid;
    box-sizing: border-box;
    padding: 0 30px;
    grid-template-columns: 1fr;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none; }
    .OptionPanel .FilesField .files label {
      width: 100%;
      height: 35px;
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border-radius: 5px;
      text-align: center;
      box-sizing: border-box; }
      .OptionPanel .FilesField .files label svg {
        margin-right: 7px; }
    .OptionPanel .FilesField .files input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .OptionPanel .FilesField .files input:focus + label,
    .OptionPanel .FilesField .files input + label:hover {
      background-color: #272727;
      cursor: pointer; }
  .OptionPanel .FilesField {
    padding: 5px 0; }
  .OptionPanel .TwoInputs {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    margin-bottom: 30px; }
    .OptionPanel .TwoInputs .lock-ratio {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 7px;
      margin-top: 13px;
      background: #fcff66; }
      .OptionPanel .TwoInputs .lock-ratio:before {
        content: "";
        height: 2px;
        width: 10px;
        background: #000000;
        margin-top: 3px;
        transform: rotate(-45deg); }
      .OptionPanel .TwoInputs .lock-ratio:after {
        content: "";
        height: 2px;
        width: 10px;
        background: #000000;
        position: absolute;
        margin-top: 3px;
        transform: rotate(45deg); }
    .OptionPanel .TwoInputs .input {
      width: 100%;
      height: 30px;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: 0.2fr 1fr 0.1fr; }
      .OptionPanel .TwoInputs .input .label {
        width: 60px;
        height: 35px;
        color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        box-sizing: border-box; }
      .OptionPanel .TwoInputs .input input {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px; }
      .OptionPanel .TwoInputs .input .units {
        height: 35px;
        border-bottom: 1.5px solid black;
        border-top: 1.5px solid black;
        border-right: 1.5px solid black;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background: white;
        cursor: pointer; }
    .OptionPanel .TwoInputs .double {
      width: 100%;
      height: 30px;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: 0.2fr 1fr; }
      .OptionPanel .TwoInputs .double label {
        width: 60px;
        height: 35px;
        color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        box-sizing: border-box; }
      .OptionPanel .TwoInputs .double input {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.PreviewPanel {
  background: #e7e7e7;
  overflow: hidden;
  box-sizing: content-box;
  flex-grow: 1; }
  .PreviewPanel .paper {
    background: white; }
  .PreviewPanel .zoom-tools {
    position: fixed;
    bottom: 20px;
    right: 20px; }
    .PreviewPanel .zoom-tools button {
      background: black;
      border: none;
      color: white; }
    .PreviewPanel .zoom-tools .in {
      font-size: 25px;
      width: 50px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
    .PreviewPanel .zoom-tools .out {
      font-size: 25px;
      width: 50px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }

* {
  font-family: "Roboto Mono", monospace; }

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Roboto Mono", monospace; }
  .App h1 {
    font-size: 25px;
    padding: 18px 0 0 29px;
    font-weight: 500; }
  .App .small-arrow {
    width: 0;
    position: absolute;
    height: 0;
    top: 30px;
    left: -15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff5a5a; }
  .App .warning {
    color: #ffeaea; }
    .App .warning label {
      background-color: #ff2121 !important; }
    .App .warning input {
      color: #ffeaea 			  !important;
      border-color: #ff2121     !important;
      background-color: #ff5a5a !important; }
    .App .warning details {
      color: #ffeaea !important; }
      .App .warning details summary {
        border-color: #ff2121     !important;
        background-color: #ff5a5a !important; }
  .App .alertBox {
    position: absolute;
    background-color: #ff2121;
    border-radius: 4px;
    z-index: 99;
    word-break: break-word;
    width: 283px;
    font-size: 14px;
    text-align: inherit;
    color: white;
    padding: 10px 13px;
    border: 6px solid #ff5a5a;
    cursor: pointer; }
    .App .alertBox .small-info {
      font-size: 10px;
      font-style: italic;
      color: #ffebeb;
      margin-top: 9px;
      border-radius: 9px;
      padding: 5px 3px;
      text-align: center; }
  .App input[type="text"],
  .App input[type="file"] {
    height: 25px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border: 1.5px solid black;
    border-radius: 4px;
    text-align: right; }
  .App input[type="text"]:focus {
    background: #fcfcfc;
    outline: none; }
  .App input.warning:focus {
    background-color: #ff5a5a;
    color: #ffeaea;
    border-color: #ff2121 !important; }
  .App .two-inputs {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    margin-bottom: 30px; }
    .App .two-inputs .input {
      width: 100%;
      height: 30px;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: 0.2fr 1fr 0.1fr; }
      .App .two-inputs .input .label {
        width: 60px;
        height: 35px;
        color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        box-sizing: border-box; }
      .App .two-inputs .input input {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px; }
      .App .two-inputs .input .units {
        height: 35px;
        border-bottom: 1.5px solid black;
        border-top: 1.5px solid black;
        border-right: 1.5px solid black;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background: white;
        cursor: pointer; }
    .App .two-inputs .double {
      width: 100%;
      height: 30px;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: 0.2fr 1fr; }
      .App .two-inputs .double label {
        width: 60px;
        height: 35px;
        color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        box-sizing: border-box; }
      .App .two-inputs .double input {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  body h1 {
    padding: 0;
    margin: 0; }
