@import "./generate-field/_anim";
@import "./unit-input/units-button/units-button";

// Utils Styles
.small-text {
	font-size: 12px;
}

.OptionPanel {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-right: 1.5px solid black;
	min-width: 350px;
	max-width: 390px;

	.SizesField {
		display: flex;
		flex-direction: column;

		.WidthHeight {
			.lock-field {
				height: 25px;
			    display: flex;
			    justify-content: center;
			    padding-top: 4px;
			    border-radius: 4px;
				cursor: pointer;
				user-select: none;

			    .lock-icon {
				    padding: 4px 2px 1px 3px;
				    border-radius: 4px;

				    &:hover {
						background: $yellow;
				    }
			    }

				input:checked ~ .lock-icon {
					background: $yellow;
				}

				input {
					position: absolute;
				    opacity: 0;
				    cursor: pointer;
				    height: 0;
				    width: 0;
				}
			}

			.lock-sign {
				width: 100%;
				display: flex;
				justify-content: center;
				height: 7px;
				margin-top: 13px;
				background: $yellow;

				&:before {
					content: "";
					height: 2px;
					width: 10px;
					background: #000000;
					margin-top: 3px;
					transform: rotate(-45deg);
				}

				&:after {
					content: "";
					height: 2px;
					width: 10px;
					background: #000000;
					position: absolute;
					margin-top: 3px;
					transform: rotate(45deg);
				}
			}
		}

		.checkbox-field {
			padding: 0 30px;
			display: grid;
			grid-template-columns: 1fr 0.1fr 1fr;

			label {
				display: block;
				position: relative;
				padding-left: 28px;
				margin-bottom: 12px;
				cursor: pointer;
				font-size: 12px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				span {
					position: absolute;
					top: 1px;
					left: 0;
					height: 11px;
					width: 11px;
					border: 1.5px solid black;
					border-radius: 4px;
					margin-left: 5px;
				}

				span:after {
					content: "";
					position: absolute;
					display: none;
				}

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}
			}

			label:hover input ~ span {
				background: #f9f9f9;
			}

			label input:checked ~ span {
				background: black;
			}

			label input:checked ~ span:after {
				display: block;
			}

			label span:after {
				left: 2px;
				top: -1px;
				width: 3px;
				height: 7px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}

		.separator {
			display: flex;
			justify-content: center;
			&:after {
				content: "";
				position: absolute;
				background: black;
				height: 1px;
				width: 25%;
			}
		}
	}

	.FilesField {
		.format {
			width: 100%;
			height: 30px;
			display: grid;
			box-sizing: border-box;
			padding: 0 30px;
			grid-template-columns: 0.2fr 1fr;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			margin-bottom: 30px;

			label {
				width: 100px;
				height: 35px;
				color: white;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				text-align: center;
				box-sizing: border-box;
			}

			input {
				height: 35px;
				width: 100%;
				box-sizing: border-box;
				border-radius: 0px;
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
			}
		}

		.FileInput {
			width: 100%;
			height: 30px;
			display: grid;
			box-sizing: border-box;
			padding: 0 30px;
			grid-template-columns: 1fr;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;

			label {
				width: 100%;
				height: 35px;
				color: white;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				border-radius: 5px;
				text-align: center;
				box-sizing: border-box;

				svg {
					margin-right: 7px;
				}
			}

			input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			input:focus + label,
			input + label:hover {
				background-color: #272727;
				cursor: pointer;
			}
		}
	}

	.GenerateField {
		padding: 0 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.filename {
			width: 70%;
			text-align: center;
		}

		.loading {
		    background-position: left bottom;
		}

		button {
			width: 75%;
			height: 48px;
			border: 1.5px solid;
			border-radius: 4px;
			background: $yellow;
			font-size: 20px;
			letter-spacing: 3px;
		    transition: all 2s ease;
			outline: none;
			background: -webkit-linear-gradient(right, $yellow 50%, #47ff80 50%);
			background: -o-linear-gradient(right, $yellow 50%, #47ff80 50%);
			background: linear-gradient(to left, $yellow 50%, #47ff80 50%);
		    background-size: 200% 100%;
		    background-position: right bottom;
			font-weight: 500;
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px 10px 15px;

		button {
			height: 30px;
			background: $yellow; 
			padding: 0 16px;
			color: black;
			font-weight: 500;
			letter-spacing: 2px;
			border: none;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background: $green;
			}
		}
	}
}
