@import "./generate-field/_anim";
@import "./unit-input/units-button/units-button";

// Utils Styles
.small-text {
	font-size: 12px;
}

.OptionPanel {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media #{$laptop} {
		border-right: 1.5px solid black;
		min-width: 350px;
		max-width: 390px;
	}

	@media #{$tablet} {
	    width: 100%;
	    border-right: none;
	    min-width: 0px;
		max-width: none;
	}

	@media #{$mobile} {
	    width: 100%;
	    border-right: none;
	    min-width: 0px;
		max-width: none;
	}

	.header {
		display: grid;

		@media #{$mobile} {
			#title {
				display: flex;
				justify-content: center;
				align-items: center;
				h1 {
					padding: 0 !important;
				}
			}
			grid-template-rows: 0.4fr 0.7fr 0.7fr 0.7fr;
		}

		@media #{$tablet} {
			#title {
				display: flex;
				justify-content: center;
				align-items: center;
				h1 {
					padding: 0 !important;
				}
			}
			grid-template-rows: 0.3fr 0.8fr 0.5fr 0.8fr;
		}

<<<<<<< HEAD
		.copyright {
			font-size: 12px;
			
			.github {
				font-weight: 500;
    			text-decoration: underline;
			}
		}

		.donate {
			button {
				height: 30px;
			    background: #fcff66; 
			    padding: 0 16px;
			    color: black;
			    font-weight: 500;
			    letter-spacing: 2px;
			    border: none;
			    border-radius: 4px;
			    cursor: pointer;

			    &:hover {
			    	background: #66ff6b;
			    }
			}
=======
		@media #{$laptop} {
			grid-template-rows: 0.5fr 1fr 1fr 1fr;
>>>>>>> gh-pages
		}
	}

	.SizesField {
		display: flex;
		flex-direction: column;

		.WidthHeight {
			@media #{$mobile} {
				.lock-sign {
					display: none !important;
				}
			}

			.lock-field {
				height: 25px;
			    display: flex;
			    justify-content: center;
			    padding-top: 4px;
			    border-radius: 4px;
				cursor: pointer;
				user-select: none;

			    .lock-icon {
				    padding: 4px 2px 1px 3px;
				    border-radius: 4px;

				    &:hover {
						background: $yellow;
				    }
			    }

				input:checked ~ .lock-icon {
					background: $yellow;
				}

				input {
					position: absolute;
				    opacity: 0;
				    cursor: pointer;
				    height: 0;
				    width: 0;
				}
			}

			.lock-sign {
				width: 100%;
				display: flex;
				justify-content: center;
				height: 7px;
				margin-top: 13px;
				background: $yellow;

				&:before {
					content: "";
					height: 2px;
					width: 10px;
					background: #000000;
					margin-top: 3px;
					transform: rotate(-45deg);
				}

				&:after {
					content: "";
					height: 2px;
					width: 10px;
					background: #000000;
					position: absolute;
					margin-top: 3px;
					transform: rotate(45deg);
				}
			}
		}

		.checkbox-field {
			padding: 0 30px;
			display: grid;

			@media #{$laptop} {
				grid-template-columns: 1fr 0.1fr 1fr;
			}

			@media #{$tablet} {
				grid-template-columns: 1fr 0.1fr 1fr;
			}

			@media #{$mobile} {
				grid-template-columns: 1fr 1fr;
				#space {
					display: none;
				}
			}

			label {
				display: block;
				position: relative;
				padding-left: 28px;
				margin-bottom: 12px;
				cursor: pointer;
				font-size: 12px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				span {
					position: absolute;
					top: 1px;
					left: 0;
					height: 11px;
					width: 11px;
					border: 1.5px solid black;
					border-radius: 4px;
					margin-left: 5px;
				}

				span:after {
					content: "";
					position: absolute;
					display: none;
				}

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}
			}

			label:hover input ~ span {
				background: #f9f9f9;
			}

			label input:checked ~ span {
				background: black;
			}

			label input:checked ~ span:after {
				display: block;
			}

			label span:after {
				left: 2px;
				top: -1px;
				width: 3px;
				height: 7px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}

		.separator {
			display: flex;
			justify-content: center;
			&:after {
				content: "";
			    position: relative;
			    background: #000;
			    height: 1px;
			    width: 90%;
			}
		}
	}

	.FilesField {
		.format {
			width: 100%;
			display: grid;
			box-sizing: border-box;
			padding: 0 30px;
			grid-template-columns: 0.2fr 1fr;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			margin-bottom: 20px;

			@media #{$mobile} {
				height: 40px;
				.last-input {
				    border-right: 2px solid;
				}
			}

			@media #{$tablet} {
				height: 40px;
			}

			@media #{$laptop} {
				height: 35px;
			}

			label {
				padding: 0 20px;
				width: 100%;
				height: 100%;
				display: flex;
				color: white;
				background: black;
				border: 2px solid black;
				align-items: center;
				justify-content: center;
				text-align: center;
				box-sizing: border-box;

				@media #{$mobile} {
				    border-bottom-right-radius: 0px;
					border-top-right-radius: 0px;
				}

				@media #{$tablet} {
				    border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}

				@media #{$laptop} {
				    border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}

			input {
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				
				@media #{$mobile} {
					border-radius: 0px;
				}

				@media #{$tablet} {
					border-radius: 0px;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
				}

				@media #{$laptop} {
					border-radius: 0px;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
				}
			}
		}

		.FileInput {
			width: 100%;
			display: flex;
			box-sizing: border-box;
			padding: 0 30px;
			grid-template-columns: 1fr;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;

			@media #{$mobile} {
				height: 35px;
			}

			@media #{$tablet} {
				height: 40px;
			}

			@media #{$laptop} {
				height: 35px;
			}

			label {
				width: 100%;
				height: 100%;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				border-bottom-left-radius: 5px;
			    border-top-left-radius: 5px;
				text-align: center;
				box-sizing: border-box;

				@media #{$mobile} {
					border-radius: 0px;
				}

				svg {
					margin-right: 7px;
				}
			}

			input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			input:focus + label,
			input + label:hover {
				background-color: #272727;
				cursor: pointer;
			}

			.crop-image {
				border: 2px solid black;
			    background: white;
			    display: flex;
			    padding: 0 8px;
			    border-bottom-right-radius: 5px;
			    border-top-right-radius: 5px;
			    color: white;
			    margin-left: 2px;
			    outline: none;
			    cursor: pointer;

			    &:hover {
			    	background: #f9f9f9;
			    }

			    &:active {
			    	background: $yellow;
			    }
			}
		}

		.preview-container {
			@media #{$laptop} {
				display: none;
			}

			@media #{$tablet} {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				padding: 15px 30px 0px;

				.preview {
					width: 100%;
					height: 100%;
					padding: 0 25px;
					background: white;
					color: black;
					border: 2px solid black;
					transition: all 150ms ease-in;
					user-select: none;
					letter-spacing: 1px;

					&:active {
						background: $yellow;
					}
				}
			}

			@media #{$mobile} {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				padding: 15px 30px 0px;

				.preview {
					width: 100%;
					height: 100%;
					padding: 0 25px;
					background: white;
					color: black;
					border: 2px solid black;
					transition: all 150ms ease-in;
					user-select: none;
					letter-spacing: 1px;

					&:active {
						background: $yellow;
					}
				}
			}
		}
	}

	.GenerateField {
		padding: 0 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.filename {
			width: 70%;
			margin-bottom: 6px;
			text-align: center;
		}

		.loading {
		    background-position: left bottom;
		}

		button {
			width: 75%;
			height: 48px;
			border: 1.5px solid;
			border-radius: 4px;
			background: $yellow;
			font-size: 20px;
			letter-spacing: 3px;
		    transition: all 2s ease;
			outline: none;
			background: -webkit-linear-gradient(to left, $yellow 51%, #47ff80 50%);
			background: -o-linear-gradient(to left, $yellow 51%, #47ff80 50%);
			background: linear-gradient(to left, $yellow 51%, #47ff80 50%);
		    background-size: 200% 100%;
		    background-position: right bottom;
			font-weight: 500;
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 15px 10px 15px;

		#report a {
			height: 30px;
			background: transparent; 
			padding: 8px 16px;
			text-decoration: underline;
			color: black;
			font-size: 12px;
			font-weight: 500;
			border: none;
			cursor: pointer;

			&:hover {
				background: $green;
			}
		}
	}
}
